{% extends 'layout.html' %}

{% block title %}Catalog{% endblock %}

{% block content %}

<section class='mw8 ph4 pv3'>

<section class='flex pt2'>

  <ul class="list pa0 ml3" style="position: sticky; top: 1rem; align-self: flex-start;">
    <li class="pointer bg-dark-blue white b br2 pv2 ph4"> 
      Modules and apps
    </li>
    <li class="hover-bg-light-gray br2 pointer pv2 ph4 bt b--black-10"> 
      Services
    </li>
    <li class="hover-bg-light-gray br2 pointer pv2 ph4 bt b--black-10"> 
      Data types
    </li>
    <li class="hover-bg-light-gray br2 pointer pv2 ph4 bt b--black-10"> 
      Admin
    </li>
  </ul>

  <div class="pt3 pl4 mw7 flex-auto">
    content TODO
  </div>

</section>

</section>

{% endblock %} {# ends 'content' #}
