<header class="flex items-center" style="width: 100vw; height: 70px; border-bottom: 5px solid #E0E0E0;">
    <button style="padding: 6px 12px; margin: 2px 4px 0 4px; border-color:#ffffff00">
        <i class="fa fa-navicon fa-2x dib" style='font-size: 24px; color:#2196F3; font-weight: 500;'></i>
    </button>
    <a href="https://kbase.us" class="-logo dib" data-k-b-testhook-widget="logo"><img sytle="padding: 4px 2px;" src='{{url_for('static', filename='images/kbase_logo.png')}}' alt='KBase logo'></a>
    <h1 style="padding-left: 10px; font-family: 'RobotoBlack', Arial, sans-serif; font-size: 29px;">Data Search (BETA)</h1>
</header>  
