{# Top level navigation #}
<div
  class='fixed top-0 left-0 shadow-4 h-100 flex flex-column justify-between bg-washed-blue z-1'
  style='width:12rem; box-shadow:-1px 2px 8px 0 rgba( 0, 0, 0, .2 ); overflow-y:auto;'>
  <ul class='list pa0'>

    <li class='ph2 pb3 pointer dim'>
      <a href='{{ url_for('dashboard_newnav')}}'>
        <img src='{{url_for('static', filename='images/logo.png')}}' alt='KBase logo'>
      </a>
    </li>

    <li>
      <a 
        data-hl-nav='/dashboard'
        href='{{ url_for('dashboard_newnav') }}'
        class='dib ph3 pv2 no-underline black-80 w-100 dim'
      >
        <i class="fa fa-tachometer black-60 tc mr1" style='width:1.5rem'></i>
        Dashboard
      </a>
    </li>

    <li>
      <a
        data-hl-nav='/search'
        href='{{ url_for('search_newnav') }}'
        class='dib ph3 pv2 no-underline black-80 w-100 dim'
      >
        <i class="fa fa-search black-60 dib tc mr1" style='width:1.5rem'></i>
        Search
      </a>
    </li>

    <li>
      <a
        data-hl-nav='/orgs'
        href='{{ url_for('orgs_newnav') }}'
        class='dib ph3 pv2 no-underline black-80 w-100 dim'
      >
        <i class="dib fa fa-users black-60 dib tc mr1" style='width:1.5rem'></i>
        Orgs
      </a>
    </li>

    <li>
      <a
        data-hl-nav='/catalog'
        href='{{ url_for('catalog_newnav', suffix='apps') }}'
        class='dib ph3 pv2 no-underline black-80 w-100 dim'
      >
        <i class="dib fa fa-book black-60 dib tc mr1" style='width:1.5rem'></i>
        Catalog
      </a>
    </li>

    <li>
      <a
        data-hl-nav='/notifications'
        href='{{ url_for('notifications_newnav') }}'
        class='dib ph3 pv2 no-underline black-80 w-100 dim'
      >
        <i class="fa fa-bell black-60 dib tc mr1" style='width:1.5rem'></i>
        Notifications
      </a>
    </li>

    <li>
      <a
        data-hl-nav='/account'
        href='{{ url_for('account_newnav') }}'
        class='dib ph3 pv2 no-underline black-80 w-100 dim'
      >
        <i class="fa fa-user-circle black-60 dib tc mr1" style='width:1.5rem'></i>
        Account
      </a>
    </li>
  </ul>

  <ul class='list pa0 bt b--black-10 pt2'>
    <li class='ph3 pv1 pointer dim'>
      <a class='no-underline black-80' target='_blank' href='https://kbase.us/new-to-kbase/'>Help</a>
    </li>
    <li class='ph3 pv1 pointer dim'>
      <a class='no-underline black-80' target='_blank' href='http://kbase.us/what-is-kbase/'>About KBase</a>
    </li>
    <li class='ph3 pv1 pointer dim'>
      <a class='no-underline black-80' target='_blank' href='https://kbase.us/contact-us/'>Contact</a>
    </li>
    <li class='ph3 pv1 pointer dim'>
      <a class='no-underline black-80' target='_blank' href='https://status.kbase.us/'>Server Status</a>
    </li>
  </ul>
</div>
