.sign-in-container {
    width: 400px;
    background: white;
    text-align: center;
    margin: auto;
}

.sign-up-botton-container {
    border: 1px;
    border-radius: 4px;
    margin: 1em;
    border-color: #b4b4b4;
}

.login-form {
    position: relative;
}
/* just another empty div to give margin */
.sign-up-botton-spacer {
    padding: 8px;
    height: 56px;
    position: relative;
    margin: 1.5em;
}

/* logo image and input radio */
.sign-up-botton {
    width: 100%;
    height: 100%;
}

/* cover up radio input to look like a button */
.input-radio::before {
    background: white;
    color: #999;
    width: 318px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 4px;
    border: 1px solid #D3D3D3;
    font-weight: bold;
    box-shadow: 2px 3px 3px #999;
    cursor: pointer;
    content: " ";
}
/* colored part of cover up radio input to look like a button */
.input-radio::after {
    width: 228px;
    height: 18px;
    text-align: center;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    padding: 19px;
    z-index: 1;
    border-top: 1px;
    border-right: 1px;
    border-bottom: 1px;
    border-left: 0px;
    border-style: solid;
    border-color: #D3D3D3;
    border-radius: 0px 4px 4px 0px;
    font-weight: bold;
    cursor: pointer;
}
.input-radio:hover:before {
    box-shadow: 5px 6px 4px 1px #ccc;
    transition: box-shadow 0.5s ease-out;
}

/* input content for each auth provider*/
.globus-input::after {
    content: "Globus";
    background: #345a94;
} 
.globus-input:hover:after {
    background: #446ba6;
}
.google-input::after {
    content: "Google";
    background: #ea4334;
}
.google-input:hover:after {
    background: #eb665a;
}
.orcid-input::after {
    content: "ORCID iD";
    background: #a7ce39;
}
.orcid-input:hover:after {
    background: #c7e965;
}

/* logo svg */
.logo {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 8px;
    z-index: 3;
    vertical-align: middle;
    display: inline;
    margin: 8px;
}

.redirect-param {
    display: none;
}