{% extends template %}

{% block title %}Account{% endblock %}
{% block titleheader %}Account Manager{% endblock %}

{% block content %}

<section class='flex pt2'>

  <ul class="list pa0 ml3" style="position: sticky; top: 0; align-self: flex-start;">
    <li class="mv1 pointer bg-dark-blue white b br2 pa2 flex justify-between"> 
      <span>Profile</span>
    </li>
    <li class="mv1 hover-bg-light-gray br2 pointer pa2 flex justify-between"> 
      <span>Account</span>
    </li>
    <li class="mv1 hover-bg-light-gray br2 pointer pa2 flex justify-between"> 
      <span>Linked accounts</span>
    </li>
    <li class="mv1 hover-bg-light-gray br2 pointer pa2 flex justify-between"> 
      <span>Developer tokens</span>
    </li>
    <li class="mv1 hover-bg-light-gray br2 pointer pa2 flex justify-between"> 
      <span>Running jobs</span>
    </li>
    <li class="mv1 hover-bg-light-gray br2 pointer pa2 flex justify-between"> 
      <span>Usage agreeements</span>
    </li>
  </ul>

  <div class="pl4 ml3 mw7">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam illum saepe nemo maiores dolor nam nobis, suscipit cum vitae quaerat sint aliquam, molestias voluptatem eius fugiat error quia. Doloremque, officia.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam illum saepe nemo maiores dolor nam nobis, suscipit cum vitae quaerat sint aliquam, molestias voluptatem eius fugiat error quia. Doloremque, officia.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam illum saepe nemo maiores dolor nam nobis, suscipit cum vitae quaerat sint aliquam, molestias voluptatem eius fugiat error quia. Doloremque, officia.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam illum saepe nemo maiores dolor nam nobis, suscipit cum vitae quaerat sint aliquam, molestias voluptatem eius fugiat error quia. Doloremque, officia.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam illum saepe nemo maiores dolor nam nobis, suscipit cum vitae quaerat sint aliquam, molestias voluptatem eius fugiat error quia. Doloremque, officia.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam illum saepe nemo maiores dolor nam nobis, suscipit cum vitae quaerat sint aliquam, molestias voluptatem eius fugiat error quia. Doloremque, officia.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam illum saepe nemo maiores dolor nam nobis, suscipit cum vitae quaerat sint aliquam, molestias voluptatem eius fugiat error quia. Doloremque, officia.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam illum saepe nemo maiores dolor nam nobis, suscipit cum vitae quaerat sint aliquam, molestias voluptatem eius fugiat error quia. Doloremque, officia.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam illum saepe nemo maiores dolor nam nobis, suscipit cum vitae quaerat sint aliquam, molestias voluptatem eius fugiat error quia. Doloremque, officia.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium ullam, vero earum atque deserunt error voluptas doloremque tempore, iure eum ipsum sed dignissimos, eveniet veniam quam in et aliquid sint!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium ullam, vero earum atque deserunt error voluptas doloremque tempore, iure eum ipsum sed dignissimos, eveniet veniam quam in et aliquid sint!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium ullam, vero earum atque deserunt error voluptas doloremque tempore, iure eum ipsum sed dignissimos, eveniet veniam quam in et aliquid sint!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium ullam, vero earum atque deserunt error voluptas doloremque tempore, iure eum ipsum sed dignissimos, eveniet veniam quam in et aliquid sint!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium ullam, vero earum atque deserunt error voluptas doloremque tempore, iure eum ipsum sed dignissimos, eveniet veniam quam in et aliquid sint!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium ullam, vero earum atque deserunt error voluptas doloremque tempore, iure eum ipsum sed dignissimos, eveniet veniam quam in et aliquid sint!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium ullam, vero earum atque deserunt error voluptas doloremque tempore, iure eum ipsum sed dignissimos, eveniet veniam quam in et aliquid sint!</p>
  </div>

</section>

{% endblock %} {# ends 'content' #}
