{% extends 'layout.html' %}

{% block title %}Linked Accounts{% endblock %}
{% block titleheader %}Linked Accounts{% endblock %}

{% block content %}

<section class='flex pt2'>
  {% include "accountNav.html" %}
    <!-- <ul class="list pa0 ml3" style="position: sticky; top: 0; align-self: flex-start;">
        <li class="mv1 pointer bg-dark-blue white b br2 pa2 flex justify-between">
          <a data-hl-nav='profile' href='{{ url_for('profile') }}' class='dib no-underline black-80 w-100 dim'>
            <span>Profile</span>
          </a>
        </li>
        <li class="mv1 hover-bg-light-gray br2 pointer pa2 flex justify-between">
            <a data-hl-nav='account' href='{{ url_for('account_account') }}' class='dib no-underline black-80 w-100 dim'>
          <span>Account</span>
        </li>
        <li class="mv1 hover-bg-light-gray br2 pointer pa2 flex justify-between">
            <a data-hl-nav='linked_accounts' href='{{ url_for('linked_accounts') }}' class='dib no-underline black-80 w-100 dim'>
          <span>Linked accounts</span>
        </li>
        <li class="mv1 hover-bg-light-gray br2 pointer pa2 flex justify-between">
            <a data-hl-nav='developer_token' href='{{ url_for('developer_tokens') }}' class='dib no-underline black-80 w-100 dim'>
          <span>Developer tokens</span>
        </li>
        <li class="mv1 hover-bg-light-gray br2 pointer pa2 flex justify-between">
            <a data-hl-nav='running_jobs' href='{{ url_for('running_jobs') }}' class='dib no-underline black-80 w-100 dim'>
          <span>Running jobs</span>
        </li>
        <li class="mv1 hover-bg-light-gray br2 pointer pa2 flex justify-between">
            <a data-hl-nav='usage_agreeements' href='{{ url_for('usage_agreeements') }}' class='dib no-underline black-80 w-100 dim'>
          <span>Usage agreeements</span>
        </li>
      </ul> -->
    <div class="pl4 ml3 mw7">Linked Accounts</div>
</section>

{% endblock %} {# ends 'content' #}