.dropdown-menu {
  position: absolute;
  top: 55px;
  left: 5px;
  z-index: 1000;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.dropdown-menu:focus {
  outline: none;
}
.dropdown-menu > li {
  list-style-type: none;
}
.dropdown-menu > li:hover {
  background: #f5f5f5;
}
.dropdown-menu > li > a {
  white-space: nowrap;
  color: #2196f3;
  display: block;
  padding: 3px 20px;
  text-decoration: none;
}
.dropdown-menu > li > a > .label {
  color: #333;
}
.dropdown-menu > li > a > .fa {
  text-align: center;
  font-size: 21px;
  margin-right: 10px;
  margin-bottom: 4px;
  width: 21px;
}
.hr-global-header {
  border-top: #e5e5e5;
  margin-block-start: 6px;
  margin-block-end: 10px;
}
.hamburger:focus {
  outline: none;
}
.hamburger:hover {
  background: #f5f5f5;
}
.hamburger {
  padding: 6px 12px;
  margin: 2px 4px 0 6px;
  border-style: hidden;
  background: white;
  cursor: pointer;
}
.global-header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 70px;
  border-bottom: 5px solid #e0e0e0;
  background: white;
}
.hamburger > i {
  font-size: 24px;
  color: #2196f3;
  font-weight: 500;
}
.roboto-header {
  padding-left: 12px;
  font-family: 'RobotoBlack', Arial, sans-serif;
  font-size: 29px;
}
.hamburger-menu {
  display: flex;
  align-items: center;
  height: 65px;
  width: 53px;
}
.logo-header {
  padding-top: 4px;
}

.profile-dropdown {
  border-width: 0px;
  background: white;
  padding: 4px;
  border-radius: 4px;
}
.profile-dropdown:focus {
  outline: none;
}
.profile-dropdown:hover {
  background: #e6e6e6;
}
.account-dropdown {
  padding-top: 2px;
  margin-top: 4px;
  margin-right: 6px;
  height: 52px;
}
.account-dropdown-signin {
  padding: 10px 14px;
  text-align: center;
  margin: 3px 0px;
}
.account-dropdown-signin:hover {
  background: #f5f5f5;
}
/* Sidebar legacy nav */
.legacy-nav {
  width: 75px;
  overflow-y: auto;
  text-align: center;
  top: 70px;
}
.legacy-nav-item {
  margin-top: 6px;
}
.legacy-nav-item:hover {
  background: #f5f5f5;
}
